<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<style>
</style>

<toolbar [showProfileButton]="(auth.isAuthenticated$ | async)==true" [showHomeLink]="false"></toolbar>


<div class="content" role="main">

  <div class="card highlight-card card-small">
    {{ title }}

  </div>

  <div class="photo-list">
    <div class="arrow left">
    <img src="assets/left_arrow.png" (click)="prevImage()">
  </div>


  <img *ngFor="let image of randomImages; let i = index" 
  [src]="image.imgPath ? image.imgPath : ''" 
  [ngClass]="{'big': i === currentIndex}"
  [routerLink]="['/discussion', {imgPath: image.imgPath, name: image.name}]"
  (click)="imageClicked(i)">

         <div class="arrow right">
    <img src="assets/right_arrow.png" (click)="nextImage()">
  </div>
  </div>

  <a class="search" routerLink="/search"><h2>Trending Now</h2></a>

  <div class="image-gallery">
    <div class="image" *ngFor="let catogory of catogories$ | async">
      <a [routerLink]="['/search', catogory.title]">
      <img [src]="catogory.src" [alt]="catogory.title" height="270">
    </a>
      <h3>{{ catogory.title }}</h3>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
